h1{
    color: cornflowerblue;
    font-size: 45px
    
}
p{
    font-size: 20px
}

.intro{
    color:dimgrey;
}
h2{
    color:darkblue;
}
.outro{
    color:dimgray;
}
.secondoutro{
    color:dimgray;
}